extends ../templates/page/page
//- include ../components/welcome/welcome

block head
  - const pageTitle = "Главная";
  - const pageDescription = "Шаблон проекта для быстрого старта с webpack, pug и scss";
  - const pageKeywords = "webpack, pug, scss";

block content
  //- +welcome({
  //-   message: 'Welcome! <br/> Happy coding!'
  //- })
