extends ../templates/page/page
//- include ../components/welcome/welcome
include ../components/yandex-map/yandex-map

block head
  - const pageTitle = "yandex-map";
  - const pageDescription = "Шаблон проекта для быстрого старта с webpack, pug и scss";
  - const pageKeywords = "webpack, pug, scss";

block content
  //- +welcome({
  //-   message: 'Welcome! <br/> Happy coding!'
  //- })
  +yandex-map
