// Fonts

// Base typography

$font-size: 1rem;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;

$line-height: 1.5;

$font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';


// Semantic colors

$text-color: #08090a;
$link-color: #3b49df;

// Colors
$space-grey: #222222;
$pink: #E65B70;
$purple: #512950;
$red: #c4233e;
$yellow: #ffdd00;
$green: #07b75f;
$orange: #F58220;
$blue: #178CC6;

$media-green: #254823;
$media-pink: #59363B;
$media-blue: #2B4146;
$media-orange: #85552B;
$media-purple: #2D1D34;